@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;

  background: linear-gradient(45deg, blue, red);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
main {
  /* width: 600px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.lang {
  padding: 0px 20px;
  text-align: center;
}
.btn {
  margin: 20px 0px;
  background: none;
  border: 1px solid #fff;
  width: 100px;
  height: 100px;
  outline: none;
  border-radius: 50%;
}
.bx {
  color: #fff;
}
#lang-type {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.btn:hover {
  color: #000;
  background: linear-gradient(135deg, red, blue);
}
.lang > p {
  color: #f4f4f4;
  font-size: 24px;
  width: 100px;
  height: 100px;

}
